http://api.nishu.fyi {
    redir https://api.nishu.fyi{uri}
}

# HTTPS Server
https://api.nishu.fyi {
    encode gzip
    log {
        output file /var/log/caddy/access.log
    }

    @api {
        path /api/*
    }
    reverse_proxy @api backend:8000 {
        header_up Host {host}
        header_up Referer {http.referer}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
    
    # All other paths go to the backend service
    reverse_proxy backend:8000 {
        header_up Host {host}
        header_up Referer {http.referer}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}